@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('assets/fonts/Lato-Italic/Lato-Italic.woff2') format('woff2'),
        url('assets/fonts/Lato-Italic/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato-Black/Lato-Black.woff2') format('woff2'),
        url('assets/fonts/Lato-Black/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url('assets/fonts/BarlowCondensed-Medium/BarlowCondensed-Medium.woff2') format('woff2'),
        url('assets/fonts/BarlowCondensed-Medium/BarlowCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSansRegular';
    src: url('assets/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSansLight';
    src: url('assets/SupriaSans-Light/SupriaSans-Light.woff2') format('woff2'),
        url('assets/SupriaSans-Light/SupriaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SairaCondensed-Black';
    src: url('assets/fonts/SairaCondensed-Black/SairaCondensed-Black.woff2') format('woff2'),
        url('assets/fonts/SairaCondensed-Black/SairaCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #010101;
    font-size: 24px;
    line-height: 1.3;
    font-family: 'LatoRegular';
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
strong{
  font-family: 'LatoBold';   
}
p strong{
    color: #85d04d;
    font-family: 'Lato-Black';
}
p em{
    font-family: 'Lato-Italic'; 
}
.reset-list,
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container {
    max-width: 1200px;
    width: 100%
}
.hide-md {
    display: block!important
}
.show-md {
    display: none!important
}

.hide-sm {
    display: block!important
}
.show-sm {
    display: none!important
}
.hide-xs {
    display: block!important
}
.show-xs {
    display: none!important
}
p { margin-bottom: 26px }
a { word-wrap: break-word }
u{
    text-decoration: underline;
}
.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}
.mrg-5{
    margin-left: 5px;
    margin-right: 5px;
}
.fl-page-bdy-controller{
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
    font-size: 50px
}
h2 {
    font-size: 44px
}
h3 {
    font-size: 40px
}
h4 {
    font-size: 30px
}
h5 {
    font-size: 22px
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    line-height: 1.2;
} 

header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.secure-img,
.hdr-logo{
    display: inline-block;
    vertical-align: baseline;
    max-width: 216px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 15px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping-progress-bar{
    position: relative;
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'BarlowCondensed-Medium'; 
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 48px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'BarlowCondensed-Bold';  
    margin-top: 32px;
}
.fl-shipping:before{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    background: url(assets/images/fl-shipping-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 15px;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 57px;
}

.fl-content-sec-1-wrp {
    background-position: bottom right!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
}
.fl-dsc-sec-1-wrp h4{
    font-size: 33px;
    line-height: 1.2;
    color: #fff;
    font-family: 'BarlowCondensed-Bold';
}

.fl-dsc-sec-1-wrp span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 23px;
    line-height: 1;
    color: #000;
    padding: 18px 40px 20px 25px;
    background-size: 100% 100%!important;
    font-family: 'Lato-Black';
    margin-bottom: 40px;
    margin-left: -25px;
}



.fl-content-sec-2-wrp{
    padding-top: 30px;
}
.fl-content-sec-3-wrp{
    background: #243241;
    padding: 20px 0;
}
.fl-dsc-sec-3-innr p{
    color: #fff;
}
.fl-sec-3-rgt-img-wrp{
    padding-bottom: 10px;
}
.fl-dsc-sec-3-img {
    width: 35%;
    float: right;
    text-align: right;
    margin-top: -45px;
    padding-right: 0;
}
.fl-dsc-sec-3-dsc {
    width: 65%;
    float: left;
    padding-right: 8px;
}
.fl-sec-3-profile-wrp ul{
    margin: 0 -10px;
}
.fl-sec-3-profile-wrp ul li{
    width: 50%;
    float: left;
    padding: 0 10px 15px;
}
.fl-sec-3-profile-wrp ul li:nth-child(2n+1){
    clear: left;
}
.fl-sec-3-profile-cntlr{
    position: relative;
}
.fl-sec-3-profile-innr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 5px;
    background: #1f2b39;
}
.fl-sec-3-profile-cntlr:after{
    content: "";
    position: absolute;
    left: 5px;
    right: 0;
    height: 4px;
    background: #2e3b4a;
}
.fl-sec-3-profile-cntlr:before{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 0;
    width: 4px;
    background: #2e3b4a;
}
.fl-sec-3-profile-img{
    width: 22%;
    float: left;
}

.fl-sec-3-profile-dsc{
    width: 78%;
    float: right;
    padding-left: 25px;
    padding:10px 10px 10px 25px; 
}
.fl-sec-3-profile-dsc p{
    color: #fff;
    margin-bottom: 0;
}

.fl-content-sec-4-wrp{
    padding-top: 25px;
}

.fl-sec-4-profile-tp{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.fl-sec-4-profile-img{
    float: left;
}
.fl-sec-4-profile-dsc{
    padding-left: 15px;
}
.fl-sec-4-profile-dsc h6{
    font-size: 24px;
    line-height: 1;
    color: #000;
    margin-bottom: 0;
    font-family: 'LatoBold';
}
.fl-dsc-sec-4-profile-wrp{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.fl-dsc-sec-4-profile-wrp ul li{
    padding-bottom: 20px;
}
.fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+1) .fl-sec-4-profile-inr{
    padding-right: 50px;
}
.fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+2) .fl-sec-4-profile-inr{
    border-radius: 70px 10px 70px 10px;
}
.fl-sec-4-profile-inr {
    padding: 25px 70px 45px 35px;
    border: 8px solid#79b34d;
    border-radius: 10px 70px 10px 70px;
    position: relative;
}
.fl-sec-4-profile-btm{
    padding-top: 25px;
}
.fl-sec-4-profile-btm h4{
    font-size: 28px;
    line-height: 1;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Lato-Black';
}
.fl-sec-4-profile-btm blockquote{
    padding: 0;
    margin: 0;
    font-size: 24px;
    border-left: 0;
}
.fl-sec-4-profile-btm blockquote p{
    margin-bottom: 0;
}
.fl-sec-4-profile-btm blockquote img {
    position: absolute;
    right: 20px;
    bottom: 25px;
}
.fl-dsc-sec-4-wrp{
    padding-bottom: 5px;
}
.fl-sec-4-btm-img{
    width: 40%;
    float: right;
    padding-top: 5px;
    padding-left: 10px;
}
.fl-sec-4-btm-dsc{
    width: 60%;
    float: left;
    padding-right: 10px;
}

.fl-content-sec-5-wrp{
    background: #243241;
    padding-top: 30px;
    padding-bottom: 180px;
}
.fl-dsc-sec-5-wrp p{
     color: #fff;
}
.fl-rgt-img{
    width: 38%;
    float: right;
    text-align: right;
    margin-right: -10px;
}
.fl-rgt-img img {
    width: 100%;
    height: 390px;
}
.fl-lft-dsc {
    width: 62%;
    float: left;
    padding-right: 0;
    padding-top: 5px;
}

.fl-dsc-sec-6-wrp{
    margin-top: -175px;
}
.fl-dsc-sec-6-profile-text{
    padding-bottom: 15px;
}
.fl-dsc-sec-6-profile-inr {
    background: #fff;
    box-shadow: 0 5px 20px -10px rgb(180 179 179);
    -ms-box-shadow: 0 5px 20px -10px rgb(180 179 179);
    -webkit-box-shadow: 0 5px 20px -10px rgb(180 179 179);
    border-radius: 10px 70px 10px 10px;
    padding: 35px 70px 25px;
    margin-bottom: 35px;
}
.fl-dsc-sec-6-profile-inr:last-child{
    border-radius: 10px 10px 10px 70px;
}
.fl-dsc-sec-6-profile-tp blockquote{
    padding: 0;
    margin: 0;
    font-size: 24px;
    border-left: 0;
    text-align: center;
    position: relative;
}
.fl-dsc-sec-6-profile-tp blockquote img {
    position: absolute;
    right: 10px;
    bottom: -80px;
}
.fl-dsc-sec-6-profile-tp blockquote p{
    margin-bottom: 10px;
}

.fl-dsc-btm-block{
    background: #fff;
    max-width: 845px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgb(180 179 179);
    -ms-box-shadow: 0px 0px 10px 0px rgb(180 179 179);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(180 179 179);
    padding: 10px;
    margin-bottom: -112px;
}
.fl-dsc-btm{
    background: #243241;
    color: #fff;
    padding: 25px 45px 0;
}
.fl-dsc-btm p{
    margin-bottom: 0;
    padding-bottom: 30px;
}
.fl-content-sec-7-wrp{
    background: #fcfce3;
    padding-top: 150px;
}
.fl-sec-7-img{
    width: 42%;
    float: right;
}
.fl-sec-7-dsc{
    width: 58%;
    float: left;
    padding-top: 5px;
}
.fl-dsc-sec-7 .fl-sec-7-dsc{
    padding-top: 0;
}
.fl-dsc-sec-7 .fl-sec-7-dsc p {
    margin-bottom: 24px;
}
.fl-content-sec-8-wrp{
    padding-top: 10px;
}
.fl-dsc-sec-8-img {
    width: 40%;
    float: right;
    margin-top: -185px;
}
.fl-dsc-sec-8-dsc{
    width: 60%;
    float: left;
    padding-top: 10px;
}

.fl-content-sec-9-wrp{
    background: #243241;
    padding-top: 25px;
}
.fl-dsc-sec-9-wrp{
    color: #fff;
}

.fl-dsc-sec-9-img{
    width: 40%;
    float: right;
    margin-right: -10px;
}
.fl-dsc-sec-9-img img{
    width: 100%;
}
.fl-dsc-sec-9-dsc{
    width: 60%;
    float: left;
    padding-top: 8px;
}
.fl-content-sec-10-wrp{
    padding-top: 25px;
}
.fl-dsc-sec-10-btm{
    max-width: 825px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 35px;
}

.fl-dsc-sec-10-btm > a{
    display: table;
    text-decoration: none;
    text-align: center;
    font-size: 36px;
    line-height: 1;
    color: #17191a;
    font-family: 'Lato-Black';
    padding: 25px 20px 20px;
    max-width: 558px;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.fl-dsc-sec-10-btm > a:hover{
    opacity: 0.8;
}
.fl-dsc-sec-10-btm u{
    display: block;
    text-decoration: underline;
    color: #3355b7;
    font-family: 'LatoRegular';
    padding-top: 0;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
}
.fl-dsc-sec-10-btm u a {
    color: inherit;
}
.fl-dsc-sec-10-btm u a:hover {
    opacity: .7;
}

.fl-footer-wrap{
    background-color: #151d26;
    color: #fff;
    text-align: center;
    padding: 40px 0 35px;
    font-size: 14px;
    line-height: 19px;
}
.fl-footer-wrap p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: 'LatoRegular';
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 1;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: #dcdcdc;
}
.fl-ftr-nav ul li a:hover,
.fl-ftr-top-sec ul li a:hover{
    opacity: .8;
}
.fl-ftr-nav ul li{
    padding: 0 18px;
    position: relative;
     font-family: 'LatoRegular';
}
.fl-ftr-nav ul li:not(:last-child):after {
    content: "";
    width: 2px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: 1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des {
    color: #fff;
    padding: 0 55px 0;
    text-align: center;
}
.fl-copyright p{
    font-size: 14px;
    line-height: 1;
    color: #fff;
    margin-bottom: 30px;
}


@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    h1 {
        font-size: 45px
    }
    h2 {
        font-size: 42px
    }
    h3 {
        font-size: 38px
    }
    h4 {
        font-size: 30px
    }
    h5 {
        font-size: 22px
    }
    .fl-dsc-sec-3-dsc p strong,
    .fl-dsc-sec-9-dsc p br{
        display: none;
    }

    .fl-dsc-sec-1-wrp h4{
        font-size: 32px;
    }
    .fl-sec-4-profile-btm h4{
        font-size: 27px;
    }
    .fl-sec-4-btm-img {
        padding-left: 0;
    }
    .fl-dsc-sec-6-profile-inr {
        padding: 35px 50px 25px;
    }
    .fl-dsc-btm {
        padding: 25px 35px 0;
    }
    .fl-sec-7-btm-dsc{
        max-width: 610px;
    }
    

} 

@media(max-width: 1023px){
      
}

@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    p br{
        display: none;
    }

    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 38px
    }
    h3 {
        font-size: 36px
    }
    h4 {
        font-size: 28px
    }
    h5 {
        font-size: 22px
    }
    .fl-dsc-sec-1-wrp h4{
        font-size: 31px;
    }
    .fl-sec-4-profile-btm h4{
        font-size: 26px;
    }
    .fl-ftr-des {
        padding: 0 30px;
    }

    .fl-dsc-sec-3-dsc {
        width: 100%;
        padding-right: 0;
        padding-top: 30px;
    }
    .fl-dsc-sec-3-img {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding-right: 0;
    }
    .fl-dsc-sec-3-img img {
        width: auto;
    }
    .fl-sec-4-btm-img {
        width: 100%;
        padding-top: 0;
        text-align: center;
    }
    .fl-sec-4-btm-dsc {
        width: 100%;
        padding-right: 0;
        padding-top: 10px;
    }
    .fl-lft-dsc {
        width: 100%;
        padding-right: 0;
        padding-top: 15px;
    }
    .fl-rgt-img {
        width: 100%;
        float: right;
        text-align: center;
        margin-right: 0;
    }
    .fl-rgt-img img{
        width: auto;
        height: auto;
    }
    .fl-sec-7-img {
        width: 100%;
        text-align: center;
    }
    .fl-sec-7-dsc {
        width: 100%;
        padding-top: 10px;
    }
    .fl-sec-7-btm-dsc{
        max-width: 100%;
    }
    .fl-dsc-sec-8-img {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .fl-dsc-sec-8-dsc {
        width: 100%;
        padding-top: 10px;
    }
    .fl-dsc-sec-9-img {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .fl-dsc-sec-9-dsc {
        width: 100%;
        padding-top: 20px;
    }
    .fl-dsc-sec-9-img img {
        width: auto;
    }
    .fl-dsc-sec-7 .fl-sec-7-dsc p {
        margin-bottom: 26px;
    }
    .fl-dsc-sec-7 .fl-sec-7-img{
        padding-bottom: 20px;
    }

    .fl-sec-3-profile-wrp ul li {
        width: 100%;
    }
    .fl-sec-3-profile-img img{
        width: 100%;
    }
    .fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+1) .fl-sec-4-profile-inr {
        padding-right: 30px;
    }
    .fl-sec-4-profile-inr {
        padding: 25px 30px 45px 25px;
    }
    .fl-sec-4-profile-btm blockquote img {
        right: 15px;
        bottom: 15px;
        max-width: 35px;
    }
    .fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+2) .fl-sec-4-profile-btm blockquote img{
        right: 25px;
    }
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }

}

@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 19px;
    }
    p{
       margin-bottom: 20px;
    }
    .fl-dsc-sec-7 .fl-sec-7-dsc p {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 39px
    }
    h2 {
        font-size: 37px
    }
    h3 {
        font-size: 35px
    }
    h4 {
        font-size: 27px
    }
    .fl-sec-4-profile-btm h4{
        font-size: 24px;
    }
    .fl-sec-4-profile-dsc h6 {
        font-size: 22px;
        padding-top: 20px;
    }
    .fl-sec-4-profile-dsc {
        padding-left: 0;
    }
    .fl-dsc-sec-1-wrp h4{
        font-size: 28px;
    }
    .fl-dsc-sec-1-wrp span{
        font-size: 20px;
        padding: 15px 40px 17px 25px;
        margin-bottom: 30px;
    }
    .fl-ftr-des {
        padding: 0 ;
    }
    .fl-ftr-nav ul li {
        font-size: 18px;
        line-height: 20px;
    }

    .fl-sec-4-profile-tp {
        display: block;
    }
    .fl-sec-4-profile-img {
        float: none;
    }
    .fl-sec-4-profile-dsc {
        padding-left: 0;
    }
    .fl-dsc-sec-6-profile-inr {
        padding: 35px 30px 25px;
    }
    .fl-dsc-sec-6-wrp .fl-sec-4-profile-tp{
        display: flex;
    }
    .fl-dsc-sec-6-wrp .fl-sec-4-profile-dsc h6{
        padding-top: 0;
        padding-left: 10px;
    }
    .fl-sec-4-profile-tp .fl-sec-4-profile-img{
        float: left;
    }
    .fl-dsc-btm {
        padding: 25px 25px 0;
    }
    .fl-dsc-btm p {
        padding-bottom: 25px;
    }
    .fl-dsc-sec-10-btm > a {
        font-size: 32px;
        padding: 22px 20px 20px;
        max-width: 480px;
        width: 100%;
        height: 85px;
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .fl-sec-4-profile-btm blockquote,
    .fl-dsc-sec-6-profile-tp blockquote{
        font-size: 19px;
    }
    .overlay-bg{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background:rgba(255,255,255, 0.3);
    }
    

}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    .fl-shipping img {
        width: 50px;
        height: 50px
    }


}
 
@media(max-width: 575px){
    h1 {
        font-size: 37px
    }
    h2 {
        font-size: 34px
    }
    h3 {
        font-size: 31px
    }
    h4 {
        font-size: 26px
    }
    .fl-dsc-sec-1-wrp h4{
        font-size: 27px;
    }
    .fl-dsc-sec-1-wrp h4 br{
        display: none;
    }

    .hdr-left{
        padding-right: 20px;
    }
    .secure-img,
    .hdr-logo {
        max-width: 180px;
    }
    .hdr-rgt a:after{
        left: 14px;
    }
    .fl-content-sec-1-wrp {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .fl-dsc-sec-1-wrp span{
        margin-bottom: 30px;
    }
    .fl-sec-4-profile-inr {
        padding: 25px 20px 45px 20px;
    }
    .fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+1) .fl-sec-4-profile-inr {
        padding-right: 20px;
    }
    .fl-dsc-sec-6-profile-inr {
        padding: 35px 15px 25px;
    }
    .fl-dsc-btm {
        padding: 25px 20px 0;
    }
    .fl-dsc-sec-10-btm > a {
        font-size: 27px;
        padding: 16px 20px 20px;
        max-width: 405px;
        width: 100%;
        height: 70px;
    }
    .fl-sec-4-profile-inr{
        border:5px solid#79b34d;
    }
    .fl-sec-4-profile-inr {
        padding-left: 15px;
        padding-right: 15px;
    }


}

@media(max-width: 479px){
    .hdr-rgt a:after {
        left: 11px;
        width: 22px;
        background-size: 100% auto;
        height: 22px;
    }
    .secure-img,
    .hdr-logo {
        max-width: 130px;
    }
    .fl-content-sec-1-wrp {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .fl-sec-3-profile-dsc {
        padding-left: 15px;
    }
    .fl-sec-4-profile-inr {
        padding: 25px 10px 45px 10px;
    }
    .fl-dsc-sec-4-profile-wrp ul li:nth-child(2n+1) .fl-sec-4-profile-inr {
        padding-right: 10px;
    }
    .fl-sec-4-profile-btm h4 {
        font-size: 22px;
    }
    .fl-sec-4-profile-dsc h6 {
        font-size: 20px;
    }
    .fl-dsc-sec-6-wrp .fl-sec-4-profile-tp{
        display: block;
    }
    .fl-sec-4-profile-tp .fl-sec-4-profile-img{
        float: none;
        text-align: center;
    }
    .fl-dsc-sec-6-wrp .fl-sec-4-profile-dsc h6 {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
    }
    .fl-dsc-sec-6-wrp .fl-dsc-sec-6-profile-tp blockquote img {
        right: 10px;
        bottom: -40px;
    }
    .fl-dsc-sec-10-btm > a {
        font-size: 20px;
        padding: 12px 10px 18px;
        max-width: 300px;
        width: 100%;
        height: 45px;
    }

}

@media(max-width: 459px){
   .header-innr{
    justify-content: initial;
   }
   .hdr-rgt{
    margin-left: auto;
   }
}


@media(max-width: 359px){
    .secure-img,
    .hdr-logo {
        max-width: 120px;
    }
    .fl-dsc-sec-1-wrp span {
        font-size: 19px;
        padding-right: 20px;
    }
    .fl-sec-3-profile-dsc {
        padding-left: 10px;
    }
    .fl-dsc-btm {
        padding: 25px 10px 0;
    }
    .fl-dsc-sec-10-btm > a {
        font-size: 18px;
        padding: 11px 10px 16px;
        max-width: 260px;
        width: 100%;
        height: 35px;
    }

}